<!-- Start of first page -->
<div data-role="page" id="show">

  <div data-role="header" data-theme='b'>
    <h1><%= @artifact.name %></h1>
  </div>

  <div data-role="content">
    <div class='overflow'>
      <h3><%= @artifact.origin %>, <%= @artifact.date %></h3>

      <% if @artifact.floor %>
      <h4><a href="/maps/<%= @artifact.floor.downcase.gsub(" ", "_") %>" data-rel="dialog" data-transition="slideup">
        <%= "#{@artifact.floor}," if @artifact.floor %> <%= "Room#{"s" if @artifact.room.include? "-"} #{@artifact.room}" if @artifact.room %>
      </a></h4>
      <% else %>
      <h4>Currently not on display</h4>
      <% end %>

      <p>
        <object type="application/x-shockwave-flash" id="audioplayer1" data="/flash/player.swf?soundFile=<%=u @artifact.audio_url %>&amp;playerID=1" width="290" height="24">
        <param name="movie" value="/flash/player.swf?soundFile=<%=u @artifact.audio_url %>">
        <param name="quality" value="high">
        <param name="menu" value="false">
        <param name="wmode" value="transparent">
        <audio src="<%= @artifact.audio_url %>" controls preload='none'>Play</audio>

        </object>
      </p>

      <img src='<%= @artifact.image_url %>' class='left' />
      <p><%= @artifact.description %></p>
    </div>
    <ul data-role="listview" data-theme="c" data-inset="true">
        <li>
          <h4><a href='/transcripts/<%= @artifact.number %>' data-transition='slide'>
            Podcast Transcript
          </a></h4>
        </li>

        <% unless @artifact.bbc_url.blank? %>
        <li>
          <h4><a href='<%= @artifact.bbc_url %>'>
            BBC Page
          </a></h4>
        </li>
        <% end %>

        <% unless @artifact.british_museum_url.blank? %>
        <li>
          <h4><a href='<%= @artifact.british_museum_url %>'>
            British Museum Page
          </a></h4>
        </li>
        <% end %>


        <% unless @artifact.wikipedia_url.blank? %>
        <li>
          <h4><a href='<%= @artifact.wikipedia_url %>'>
            Wikipedia Page
          </a></h4>
        </li>
        <% end %>
    </ol>
  </div>



</div>


